    <div id="cadastro">
        <div id="cadastrototal">
            <span id="totalCadastros">{{ totalCadastros }}</span>
            <p>Total de cadastros</p>
        </div>
        <div id="cadastromes">
            <span id="cadastrosUltimoMes">{{ cadastrosUltimoMes }}</span>
            <p>Cadastros no último mês</p>
        </div>
        <div id="cadastropr">
            <span id="cadastroPendente">{{ cadastroPendente }}</span>
            <p>Cadastros com pendência de revisão</p>
        </div>
    </div>

    <main>
      <span id="h1">Últimos cadastros</span>
      <app-table></app-table>
    </main> 
