@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    background-color: #600580
}
nav{
    background-color: #D356FF;
    border: 1px solid #D356FF;
    width: 300px;
    height: 100vh;
}
nav > div{
    display: flex;
    align-items: center;
    background-color: #9908CC;
    width: 270px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

div > span#h1{
    
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    margin-left: 15px;
}
div > span#h2{
    font-weight: 400;
    font-size: 13px;
    line-height: 21.06px;
    margin-left: 15px;
}
nav > p{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    color: #9908CC;
}
nav > p > span{
    padding: 5px;
    color: #9908CC;
}

nav > p > a{
    text-decoration: none;
    color: #9908CC;
}
nav > hr{
    width: 240px;
    margin-left: 10px;
}
div#corpo{
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    background-color: #D356FF;
    border: 1px solid #D356FF;
    border-radius: 5px;
    width: 98%;
    height: 62px;
    margin: 12px;
}
header > input{
    border: 1px solid #D356FF;
    border-radius: 10px;
    width: 65%;
    height: 40px;
    margin: 10px;
    padding-left: 15px;
}
header > div#bola{
    border: 1px solid #D356FF;
    background-color: #692A80;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}
header > span{
    font-size: 15px;
    margin-left: 10px;
}
header > hr{
    width: 1px;
    height: 30px;
    margin-left: 10px;
}
header > span > a{
    margin-right: 5px;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

main{
    display: block;
    border: 1px solid #D356FF;
    width: 98%;
    height: 45%;
    padding: 5px;
    margin: 12px;
    border-radius: 5px;
    background-color: #D356FF;
}
main > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D356FF;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-bottom: -20px;
}
main > div > span#h1{
    
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 21.09px;
    color: black;
    margin-left: 5px;
    margin-top: 10px;
    
}
main > div > a{
    text-decoration: none;
}
main > div > a > span#new{   
    background-color: #5E5774;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
}
main > div#table{
    width: 100%;
    height: 80%;
    margin-top: 25px;
}
table{
    background-color: #692A80;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
tr.hover:hover{
    background-color: lightgray; 

       transition: 0.5s;
       
       opacity: 0.7;
}
th{
    color: black;
    font-weight: 500;
    text-align: center;
    padding-bottom: 2px;
}

td{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 50px;
    text-align: center;
}
