@charset "UTF-8";


@media screen and (max-width: 1326px){
    nav{
        display: none;
    }
    #corpo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
}