<div  id="nav-header">
  <nav>
    <div>
      <span id="he1">OC</span> <span id="h2">Operação Curiosidade</span>
    </div>
    <p id="home" routerLinkActive="active"><span class="material-symbols-outlined">
        home</span> <a routerLink= "/home">Home</a></p>
        <hr>
        <p routerLinkActive="active"><span class="material-symbols-outlined">
        group_add
        </span><a routerLink="/register">Cadastro</a></p>
        <hr>
        <p routerLinkActive="active"><span class="material-symbols-outlined">
        insert_chart
        </span><a  routerLink="/reports">Relatórios</a></p>
        <hr>
        <p routerLinkActive="active" ><span class="material-symbols-outlined">memory</span><a routerLink="/logs">Registro de Logs</a></p>
  </nav>

    <div id="header-body">
      <header>

        <div class="bx bx-menu" id="menu-icon"></div>

        <div class="navbar">
            <p><span class="material-symbols-outlined" >
                home</span> <a routerLink= "/home">Home</a></p>
                <hr>
                <p><span class="material-symbols-outlined">
                group_add
                </span> <a routerLink="/register">Cadastro</a></p>
                <hr>
                <p><span class="material-symbols-outlined">
                insert_chart
                </span><a routerLink="/reports">Relatórios</a>
                <hr>
                <p><span class="material-symbols-outlined">memory</span><a routerLink="/logs">Registro de Logs</a></p>
        </div>


          <div id="header">
            <div id="bola">
              <img src="../../assets/images/paulmc.jpg" alt="paul">
            </div>
            <span id="loggedUserName">João Pedro Odorizzio de Souza</span>
            <hr>
            <span><button class="botao" (click)="sair()">SAIR</button></span>
          </div>
      </header>

      <router-outlet></router-outlet>
    </div>
    <app-snackbar></app-snackbar>
</div>
