<div class="content">
  <div id="cabecalho">
      <h1>OC</h1>
      <p>Operação Curiosidade</p>
  </div>
  <form id="form" autocomplete="on" #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>

          <input type="text" id="nome" placeholder="Digite seu nome" formControlName="name" [class.error]="form.get('name')?.invalid && form.get('name')?.dirty" class="error-border">
          <div *ngIf="form.get('name')?.invalid && form.get('name')?.dirty" class="error-message">
            Nome é obrigatório e deve ter no mínimo 3 caracteres.
          </div>
      </div>

      <div>

        <input type="email" formControlName="email" id="email" [class.error]="form.get('email')?.invalid && form.get('email')?.dirty" class="error-border" placeholder="Digite seu email">
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.dirty" class="error-message">
          E-mail é obrigatório e deve ter um formato válido.
        </div>
      </div>
      <div>
          <div class="input-with-icon">
            <input type="password" id="senha" #passwordInput placeholder="Senha" name="password" formControlName="password" [class.error]="form.get('password')?.invalid && form.get('password')?.dirty" class="error-border">
            <mat-icon (click)="passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password'">
              {{ passwordInput.type === 'password' ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </div>
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.dirty" class="error-message">
            Senha é obrigatória e deve ter no mínimo 8 caracteres.
          </div>
      </div>

      <div>
        <div class="input-with-icon">
          <input type="password" id="senha2" #passwordInput2 placeholder="Confirme sua senha" name="senha2" formControlName="senha2"
                 [class.error]="form.hasError('senhasNaoCorrespondem') && form.get('senha2')?.dirty"
                 class="error-border">
          <mat-icon (click)="passwordInput2.type = passwordInput2.type === 'password' ? 'text' : 'password'">
            {{ passwordInput2.type === 'password' ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </div>
        <div *ngIf="form.hasError('senhasNaoCorrespondem') && form.get('senha2')?.dirty" class="error-message">
          Senhas não correspondem.
        </div>
      </div>

      <input type="submit" value="Enviar" class="botao">
      <a routerLink="/login">
        <div id="cadastrar">Voltar para o Login</div>
    </a>
  </form>
</div>
