<div id="logs-list">
  <table class="log-table">
    <thead>
      <tr>
        <th>ALVO</th>
        <th>OPERAÇÃO</th>
        <th>DATA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs" (click)="openModal(log)" [class.update-log-row]="isUpdateLog(log)">
        <td>{{ log.targetEmail }}</td>
        <td>{{ log.action }}</td>
        <td>{{ log.timestamp | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-logmodal [logId]="logId"></app-logmodal>
