@media print
{
  header{
    display: none!important;
  }
  nav{
    display: none;
  }

  main{
    border: 3px solid black!important;
    box-shadow: none!important;
    height: 80vh!important;

  }
  span#h1{
    color: black;
  }
  table{
    border: 1px solid black;
  }
  th{
    color: black!important;
    border: 1px solid black;
  }

  td{
    color: black!important;
    border: 1px solid black;
  }

  button{
    display: none;;
  }

  .print{
    display: none;
  }

}
