* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main#login {
  width: 100%;
  height: 100vh !important;
  border: none;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;


  min-width: 30%;
  height: auto;
  border-radius: 5px;

  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
  transition-timing-function: ease;
}

section#login>div#formulario {
  display: block;
  padding: 5px;
}

div#cabecalho {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 15px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

div#cabecalho>h1 {
  margin-top: 40px;
  text-align: center;
}

div#cabecalho>p {
  text-align: center;
}

#formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

input {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  width: 280px;
  height: 3em;
  box-sizing: border-box;
  transition: .3s;
}

mat-icon {
  cursor: pointer;
  transform: translate(-30px, 0px);
  color: black;
}

.input-with-icon {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

span {
  display: none;
}

div#email {
  margin-bottom: 20px;
}

div.campo>label {
  display: none;
}

form>a {
  text-decoration: none;
}

form>input[type=submit] {
  display: block;
  font-size: 1em;
  width: 250px;
  height: 40px;
  border: none;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

#cadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 40px;
  border: none;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.error-border {
  border: 3px solid var(--cor-backgroundlista);
}

.error {
  border-color: rgb(211, 0, 0);
}

.error-message {
  color: rgb(211, 0, 0);
  font-weight: 600;
  font-size: 1em;
}
